@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: url(images/pattern-background-mobile.svg), hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 2vw;
    place-items: center;
    background-repeat: no-repeat;
    font-family: "Red Hat Display", sans-serif;
}

.container{
    max-height: 100%;
    max-width: 100%;
}

.main{
    box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, .11);
    width: 25%;
    margin: 5vw 35vw;
    border-radius: 12px;   
    background-color: white;
}

.upper{
    display: flex;
    flex-wrap: wrap;
    height: 35%;
    max-width: 100%;
}

.upper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.mid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2vw 2vw;
    text-align: center;
}

.mid h1{
    font-size: 0.7em;
    font-weight: 900;
}

.mid p{
    font-size: 0.7em;
    color:  hsl(224, 23%, 55%);
}

.annual{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    padding: 1vw 1vw;
    margin:2vw 2vw;
    background-color: hsl(225, 100%, 98%);
    font-size: 0.5em;
}
.annual img{
    object-fit: cover;
}
.annual h1{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1em;
    max-width: 100%;
    padding: 0 1vw;
}
.annual .plan{
    font-size: 0.8em;
    font-weight: 700;
    display: flex;
    margin-left: -10vw;
    margin-top: 2vw;
    color: hsl(224, 23%, 55%);
}
.annual a{
    display: flex;
    color: hsl(245, 75%, 52%);
    font-size: 1em;
    font-weight: 700;
}

.attribution { 
    font-size: 0.5em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .65em;
    margin-bottom: 1.5em;
  }
  
  .btn {
    all: unset;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 700;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1vw;
    padding: 1em;
  }
  
  .btn:focus {
    outline: 3px dashed  hsl(224, 23%, 55%);
  }
  
  .btn:focus:not(:focus-visible) {
    outline: none;
  }
  
  .btn:focus-visible {
    outline: 3px dashed hsl(224, 23%, 55%);;
  }
  
  .payment-btn {
    background: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, .25);
    opacity: 1;
    transition: all .2s ease;
  }
  
  .payment-btn:hover {
    opacity: .8;
  }
  
  .cancel-btn {
    color: hsl(224, 23%, 55%);;
    transition: color .2s ease;
  }
  
  .cancel-btn:hover {
    color: hsl(223, 47%, 23%);;
  }  

@media (max-width:600px) {
    body{
        height: 100%;
        width: 100%;
    }
    .container{
        height: 100%;
        width: 100%;
    }
    .common{
        height:  100%;
        width: 100%;
    }
    .main{
        height: 80vh;
        margin: 4vw auto;
        width: 80vw;
        font-size: 2em;
    }
    .upper{
        display: flex;
        height: 20vh;
    }
    .upper img{
        object-fit: cover;
    }
    .mid{
        margin-top: 1vh;
        font-size: 1.8em;    
    }
    .mid p{
        font-weight: 500;
        padding: 1vw 1vw;
        margin: 1vw 2vw;
    }
    .annual{
        display: flex;
        justify-content: space-evenly;
        width: 70vw;
        height: 100px;
        font-size: 1em;
        font-weight: 700;
        margin-top: 5vw;
        margin-bottom: 10vw;
        margin-left: 5vw;
    }
    .plan{
        position: relative;
        top: 15px;
        left: -50px;
    }
    .attribution { 
        font-size: 1.5em; 
        text-align: center; 
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
    
    .button-holder{
        font-size: 1em;
        margin-top: 2vh;
    }
}